.button {
  display: block;
  padding: 11px 0;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  color: #1d2e5b;
  text-transform: uppercase;
  background-color: #ffd74b;
  border-radius: 10px;
  border: none;

  // &:hover,
  // &:focus {
  //   background-color: #5eaa2f;
  // }

  // &:active {
  //   color: fade-out(#ffffff, 0.7);
  // }

  &--auth {
    padding: 10px 0;
    
    text-align: center;
    font-size: 17px;
    line-height: 30px;
    color: #161c35;
    border-radius: 25px;

    // &:hover,
    // &:focus {
    //   background-color: #ebebeb;
    // }

    // &:active {
    //   color: fade-out(#444444, 0.7);
    // }
  }
}
