.companions-filtered {
  @media (min-width: $desktop-width) {
    margin-right: 50px;
    width: 950px;
  }
}

.companions-filtered__more {
  padding: 10px 0 0 44px;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: #1d2e5b;
  font-weight: 700;
  text-align: center;

  &::before {
    content: "";
    position: absolute;
    width: 26px;
    height: 26px;
    top: 1px;
    left: 0px;
    background-image: url("../img/show-more-plus.svg");
    background-repeat: no-repeat;
    color: #1d2e5b;
  }
}