.contacts-list {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;

  @media (min-width: $tablet-width) {
    font-size: 28px;
    line-height: 28px;
  }

  @media (min-width: $desktop-width) {
    margin-left: auto;
  }
}

.contacts-list a {
  color:  #192144;
}

.contacts-list__item {
  min-height: 45px;
  margin-left: 60px;

  @media (min-width: $tablet-width) {
    min-height: 67px;
    margin-left: 60px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    min-height: 50px;
  }
}

.contacts-list__link {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 45px;
    height: 45px;
    top: -16px;
    left: -60px;
    background-color: #121936;
    border-radius: 50%;

    @media (min-width: $tablet-width) {
      width: 68px;
      height: 68px;
      top: -24px;
      left: -91px;
    }

    @media (min-width: $desktop-width) {
      display: none;
    }
  }
}

.contacts-list__icon {

  @media (min-width: $desktop-width) {
    position: relative;
    width: 50px;
    height: 50px;
    background-color: #ff8d30;
    border-radius: 50%;
  }

  &--img {
    &::after {
      @media (min-width: $desktop-width) {
        position: absolute;
        content: "";
        width: 18px;
        height: 18px;
        top: 17px;
        left: 17px;
        background-repeat: no-repeat;
      }
    }
  }

  &--phone {
    &::after {
      @media (min-width: $desktop-width) {
        background-image: url("../img/topmenu-phone.svg");
      }
    }
  }

  &--mail {
    @media (min-width: $desktop-width) {
      background-color: #ffbd30;
    }

    &::after {
      @media (min-width: $desktop-width) {
        width: 17px;
        height: 15px;
        top: 19px;
        background-image: url("../img/topmenu-mail.svg");
      }
    }
  }
}

.contacts-list__svg {
  color: #ffd74b;

  @media (min-width: $desktop-width) {
    display: none;
  }

  &--img {
    position: absolute;
    left: -46px;

    @media (min-width: $tablet-width) {
      width: 24px;
      height: 22px;
      top: -2px;
      left: -69px;
    }
  }

  &--mail {
    top: 1px;

    @media (min-width: $tablet-width) {
      width: 28px;
      height: 19px;
      top: 2px;
      left: -70px;
    }
  }
}

.contacts-list__contact {
  @media (min-width: $desktop-width) {
    display: none;
  }
}
