.main-nav {
  position: relative;

  // @media (min-width: $tablet-width) {
  //   display: flex;
  //   justify-content: space-between;
  // }
}

.main-nav__toggle {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 24px;
  right: 0;
  border: none;
  background-color: transparent;

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 7px;
  right: 0; 
  width: 25px;
  height: 3px;
  background-color: #ffffff;
  border-radius: 1.5px;
  box-shadow: 0 8px 0 0 #ffffff;
}

.main-nav--closed .main-nav__wrapper {
  @media (max-width: $tablet-width-only) {
    display: none;
  }
}

.main-nav--opened .main-nav__toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 26px;
  right: 3px;
  border: none;
  background-image: url("../img/close.svg");
  background-repeat: no-repeat;
}


.main-nav--nojs .main-nav__toggle {
  @media (max-width: $tablet-width-only) {
    display: none;
  }
}

.main-nav--nojs .main-nav__wrapper  {
  @media (max-width: $tablet-width-only) {
    display: block;
  }
}

.main-nav__site,
.main-nav__contacts,
.main-nav__auth,
.main-nav__social {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: inherit;
  color:  #192144;;
  text-transform: uppercase;
}

.main-nav__site {
  margin: 63px 0 55px;
}

.main-nav__auth {
  margin-bottom: 65px;
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;
  color:  #192144;
}

.main-nav__contacts {
  margin-bottom: 25px;
}



