.promo-list {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  list-style: none;
  color: #161c35;

  @media (min-width: $tablet-width) {
    
  }
}

.promo-list__item {
  position: relative;
  min-height: 160px;
  padding: 22px 96px 0 24px;
  border-radius: 9px 9px 0 0;

  &::after {
    position: absolute;
    width: 10px;
    height: 18px;
    top: 22px;
    right: 21px;
    color: #ffffff;
  }

  &--first {
    background-color: #ff8d30;

    &::after {
      content: "1";
    }
  }

  &--second {
    margin-top: -80px;
    background-color: #ffa530;

    &::after {
      content: "2";
    }
  }

  &--third {
    margin-top: -80px;
    min-height: 140px;
    background-color: #ffbd30;

    &::after {
      content: "3";
    }
  }

  &--fourth {
    margin-top: -60px;
    min-height: 80px;
    background-color: #ffd74b;
    border-radius: 9px 9px 9px 9px;

    &::after {
      content: "4";
    }
  }
  
  @media (min-width: $tablet-width) {
    
  }
}

.promo-list__description {
  margin: 0;
}

.promo-contacts__item {
  margin: 0;
  min-height: 40px;
}

.promo-contacts__icon {
  display: block;
  position: relative;
  width: 40px;
  height: 40px;
  background-color: #ff8d30;
  border-radius: 50%;

  &--img {
    &::after {
      position: absolute;
      content: "";
      width: 18px;
      height: 18px;
      top: 12px;
      left: 12px;
      background-repeat: no-repeat;
    }
  }

  &--phone {
    &::after {
      background-image: url("../img/topmenu-phone.svg");
    }
  }

  &--mail {
    background-color: #ffbd30;
     
    &::after {
      width: 17px;
      height: 15px;
      top: 14px;
      background-image: url("../img/topmenu-mail.svg");
    }
  }
}

.promo-contacts__auth {
  padding: 13px 0 10px;
  min-height: 40px;
  width: 190px;
  font-size: 17px;
  line-height: 17px;
}
